header
//header nav
nav
          a(href='/home') Home
          a(href='/projects') Projects
          a(href='/services') Services
          a(href='/aboutMe') About Me
          a(href='/contact') Contact
    