extends layout
//Jordan, Assignment1, aboutMe page
block content
  h1= home
  p Welcome to #{aboutMe}

  p I am studying computer programming analyst at georgian college and i am in my four year i am currently taking 7 classes.
  
  